.containerPropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    box-sizing: border-box;
    padding: .2em 2em 150px;

    .headerPropos{
        width: calc(100% - .5em);
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            position: relative;
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 10px;
            top:   0;
            left:   0;
            right:   0;
            bottom:   0;
            background-color: rgba(0, 0, 0, 0.277); 
        }

    }

    .valeurs{
        width: calc(100% - 1em);
        display: flex;
        flex-direction: column;
        padding: 20px 10px 10px;

        .containerVal{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ff6060;
            border-radius: 5px;
            margin: 10px;
            margin-bottom: 0;
            padding: 0 2%;
            color: white;
            font-weight: 600;
        }

        .hiddenValue{
            background-color: #f6f6f6;
            border-radius: 0 0 5px 5px;
            margin: 0 10px;
            padding: 0 2%;
        }
    }
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */