.containerPropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    box-sizing: border-box;
    padding: .2em 2em;

    .headerPropos{
        width: calc(100% - .5em);
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            position: relative;
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 10px;
            top:   0;
            left:   0;
            right:   0;
            bottom:   0;
            background-color: rgba(0, 0, 0, 0.277); 
        }

    }

    .valeurs{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
}
